<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staticfiles/style/style.css"/>
    <title>CarCollection</title>
</head>

<body>
<div id="box">
    <header>

        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>H</span>EAVEN</a></h1>
        <nav>

            <!-- if the user has not created a profile -->
            {% if hide_nav_links %}
                <a href="{% url 'signup' %}">Register</a>
                <a href="{% url 'signin' %}">Login</a>
            {% else %}
                <!-- if the user has created a profile -->
                <a href="{% url 'catalogue' %}">Showroom</a>
                <a href="{% url 'create car' %}">Add Car</a>
                    <a href="{% url 'profile details' pk=profile.pk %}">Profile</a>
            {% endif %}

        </nav>
    </header>

    <!-- headlines -->
    <section id="index-headline">
        <div class="index-message">
            <h2>Our <span>cars</span> collection is expecting you!</h2>
        </div>
        <img src="../staticfiles/images/Vehicle-Red-Car-Transparent.png" alt="car">
    </section>

    <!-- footer -->
    <footer>
        &copy;MG10zh 2023. All rights reserved.
    </footer>

</div>
</body>
</html>
